.quiz-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40vw;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(315deg, #87e8f5 0%, #65e6f7 74%);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  z-index: 100;
  margin-left: 30vw;
  margin-top: 10vh;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.quiz-title-pane {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.quiz-title {
  text-decoration: underline;
}
.quiz-timer {
  color: green;
  text-shadow: 2px 2px rgb(178, 237, 3);
}
.quiz-disclaimer {
  font-size: 0.7em;
}
.divider {
  border-bottom: 5px dashed rgb(255, 200, 0);
  width: 90%;
  margin: 5px;
}
.quiz-arena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-area {
  width: 90%;
}
.options {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  width: 100%;
}
.option {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(234, 236, 236, 0.801);
  margin: 5px;
  cursor: pointer;
  width: 100%;
}
.option:hover {
  background-color: rgba(20, 20, 20, 0.3);
  color: yellow;
}
.correct-option {
  background-color: rgb(126, 241, 126);
  border: 4px solid rgb(6, 253, 6);
}
.wrong-option {
  background-color: rgb(241, 126, 126);
  border: 4px solid rgb(253, 6, 6);
}
.btn {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-size: 0.8em;
  cursor: pointer;
  background-color: rgba(249, 201, 104);
}
.btn:hover {
  background-color: rgba(249, 201, 104, 0.8);
  box-shadow: 2px 2px;
}
.btn:active {
  background-color: rgba(243, 188, 77, 0.8);
}
